@font-face {
    font-family: 'opensansregular';
    src: url('../fonts/OpenSansRegular/opensansregular-webfont.eot');
    src: url('../fonts/OpenSansRegular/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansRegular/opensansregular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSansRegular/opensansregular-webfont.woff') format('woff'),
        url('../fonts/OpenSansRegular/opensansregular-webfont.ttf') format('truetype'),
        url('../fonts/OpenSansRegular/opensansregular-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}